<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		
	<!-- API KEY -->
	<add key="ConnectionAPI" value="http://localhost:8080"/>
	<!--<add key="ConnectionAPI" value="https://asv-zapja-api-lcfcjtlv4a-uk.a.run.app"/>-->
		
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>